{% extends "pages-base.html" %}

{% block sidebar %}
{{ nav::sidebar(ancestors=section.ancestors, current_path=section.path) }}
{% endblock sidebar %}

{% block pages_content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}

{% if section.pages %}
<ul class="pages-index-list">
    {% for page in section.pages %}
    <li onclick="window.location='{{ page.permalink }}'">
        {% if page.extra.github_url %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
        {% else %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
        {% endif %}
        {% if page.description %}
        <p class="section-desc">{{ page.description }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock pages_content %}
