{% extends "base.html" %}
{% import "macros/section-header.html" as header %}

{% block content %}
<div class="content-container">
    {% if taxonomy.name == "tags" %}
    {{ header::section_header(title=taxonomy.name | title, description="Browse posts by topic.") }}
    {% else %}
    {{ header::section_header(title=taxonomy.name | title, description="Browse content by " ~ taxonomy.name ~ ".") }}
    {% endif %}

    <div class="tags-index spacing-component">
        {% for term in terms %}
        <a href="{{ term.permalink }}" class="tag-index-item">
            <span class="tag-name">{{ term.name }}</span>
            <span class="tag-count">{{ term.pages | length }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
